.image img {
	width: 300px;
	height: 250px;
}

#logo {
	width: 200px;

}

.head {
	height: 100px;
	background-color: white;
	margin: 0 -5px;
	border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.myavt {
	display: flex;
	margin-left: 60px;
	resize: both;
	overflow: auto;
}

.myavt h2 {
	margin-top: 15px;
	margin-left: 20px;
}

.myavt img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 10px;
}

.bot-info {
	display: flex;
}

.bot-info h3 {
	margin-right: 30px;
	margin-left: 20px;
	font-size: 20px;
}

.icon {
	width: 20px;
	height: 20px;
}

.nav i {
	margin-left: 20px;
	font-size: 30px;
}

.nav span {
	font-size: 25px;
}

.contains-left {
    width: 15%;
    height: 100vh; 
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #333; 
}

.col {
    margin-left: 15%; 
}

.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 15%);
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer p {
    margin-bottom: 0;
    
}

.content-column {
	width: 85%;
	margin: 0 auto;
	/* Để căn giữa nội dung */
}

/* Thong tin chi tiet tai khoan */
body {
	margin-top: 20px;
	background-color: #f2f6fc;
	color: #69707a;
}

.img-account-profile {
	height: 10rem;
}

.rounded-circle {
	border-radius: 50% !important;
}

.card {
	box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
	font-weight: 500;
}

.card-header:first-child {
	border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
	padding: 1rem 1.35rem;
	margin-bottom: 0;
	background-color: rgba(33, 40, 50, 0.03);
	border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control,
.dataTable-input {
	display: block;
	width: 100%;
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1;
	color: #69707a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #c5ccd6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.35rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
	color: #0061f2;
	border-bottom-color: #0061f2;
}

.nav-borders .nav-link {
	color: #69707a;
	border-bottom-width: 0.125rem;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0;
	padding-right: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

.contains-left {
	width: 15%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
}

.col {
	margin-left: 15%;
}

.footer {
	height: 5%;
	position: fixed;
	bottom: 0;
	left: 0;
	width: calc(100% - 15%);
	margin-left: 15%;
	background-color: rgba(0, 0, 0, 0.2);
}

.footer p {
	margin-bottom: 0;

}

.content-column {
	width: 85%;
	margin: 0 auto;
	/* Để căn giữa nội dung */
}

.img-profile-standard {
    width: 315px;
    height: 315px;
}