@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	/*font-family: 'Poppins', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	background: #ececec;
}

/*------------ Login container ------------*/
hr:not([size]) {
    height: 0.1px;
}
#emoji-table {
	border-collapse: collapse;
	margin-top: 10px;
}

#emoji-table td {
	padding: 10px;
	font-size: 24px;
	cursor: pointer;
}

#emoji-table td:hover {
	background-color: #f0f0f0;
}

#emoji-input {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
	font-size: 16px;
}

#smiley-icon {
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.popp {
	width: 350px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 40px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
	
}

.open-popp {
	visibility: visible;
	top: 200px;
	transform: translate(-2%, -50%) scale(1);
	left: 790px;
}

.popp button {
	width: 100%;
	margin-top: 20px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#color-table {
	border-collapse: collapse;
	margin-top: 10px;
}

#color-table td {
	padding: 10px;
	font-size: 24px;
	cursor: pointer;
}

#color-table td:hover {
	background-color: #f0f0f0;
}

.pop {
	width: 600px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-pop {
	visibility: visible;
	top: 1000%;
	transform: translate(-50%, -50%) scale(0.5);
}

.pop button {
	width: 100%;
	margin-top: 20px;
	padding: 10px 0;
	background: #6fd649;
	color: #fff;
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.icon-container {
	position: relative;
}

.selected-icon {
	cursor: pointer;
}

.selected-icon:hover {
	filter: grayscale(50%);
}

.selected-icon {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	filter: grayscale(100%);
}

.image-uploaded {
	height: 100px;
	width: 200px;
	margin-bottom: 15px;
}

.image-upload {
	margin-top: 10px;
}

.image-icon img {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	filter: grayscale(100%);
}

.image-icon:hover img {

	filter: grayscale(50%);
}

li {
	list-style-type: none;
}

.image-icon>input {
	display: none;
}

.box-area {
	margin-top: 105px;
	/*margin-left: 300px;*/
}

.container {
	margin-left: auto;
	margin-right: 0;
}

/*------------ Right box ------------*/
.tagged-user {
	color: #007bff !important;
	/* Màu xanh dương */
}

.suggestions-container {
	position: absolute;
	background: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
	z-index: 10;
	max-height: 150px;
	margin-bottom: -120px;
}

.suggestion-item {
	padding: 5px 10px;
	border-bottom: 1px solid #eee;
	cursor: pointer;

}

.suggestion-item:last-child {
	border-bottom: none;
}

.suggestion-item:hover {
	background-color: #f0f0f0;
}

.like {
	cursor: pointer;
}

.liked {
	color: royalblue;
}

.count-like {
	font-size: smaller;
}

.count-comment {
	font-size: smaller;
	margin-left: 100px;
}

.right-box {
	padding: 0px 30px 40px 40px;
}

.right-box .skfjkk .lkt40 img {
	width: 40px;
	border-radius: 50%;
	height: 40px;
}


.myavt h6 {
	margin-left: 15px;
	margin-top: 5px;
}

.post__options {

	justify-content: space-evenly;
	font-size: medium;
	color: gray;
	cursor: pointer;
	height: 70px;
}

.post__option p {
	margin-top: 4px;
	margin-left: 10px;
}

.post__option span {
	margin-top: 5px;
}


.post__option {
	justify-content: center;
	padding: 4px;
	flex: 1;
}


.post__option:hover {
	background-color: #eff2f5;
	border-radius: 10px;
}

.listcmt {
	height: 400px;
	background-color: rgba(0, 0, 0, 0.05);
}

.addcmt {
	width: 30;

}

.name {
	margin-left: 10px;
	margin-bottom: 5px;

}

/*------------ Custom Placeholder ------------*/

::placeholder {
	font-size: 16px;
}

.rounded-4 {
	border-radius: 20px;
}

.rounded-5 {
	border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 500px) {

	.box-area {
		margin: 0 10px;

	}

	.left-box {
		height: 100px;
		overflow: hidden;
	}

	.right-box {
		padding: 20px;
	}

}