.image img{
    width: 300px;
    height: 250px;
}
#logo{
    width: 200px;

}
.head{
    height: 100px;
    background-color: white;
    margin: 0 -5px;
    border: solid 0.5px rgba(0, 0, 0, 0.1);
}
.myavt{
    display: flex;
    margin-left: 60px;
    resize: both;
    overflow: auto;
}
.myavt h2{
    margin-top: 15px;
    margin-left: 20px;
}
.myavt img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.bot-info{
    display: flex;
}
.bot-info h3{
    margin-right: 30px;
    margin-left: 20px;
    font-size: 20px;
}
.icon{
    width: 20px;
    height: 20px;
}
.nav i{
    margin-left: 20px;
    font-size: 30px;
}
.nav span{
    font-size: 25px;
}
.contains-left {
    width: 15%;
    height: 100vh; 
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #333; 
}

.col {
    margin-left: 15%; 
}

.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 15%);
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer p {
    margin-bottom: 0;
    
}

.content-column {
	width: 85%;
	margin: 0 auto;
	/* Để căn giữa nội dung */
}