.image img {
	width: 300px;
	height: 250px;
}

#logo {
	width: 200px;

}

.head {
	height: 100px;
	background-color: white;
	margin: 0 -5px;
	border: solid 0.5px rgba(0, 0, 0, 0.1);
}

.myavt {
	display: flex;
	margin-left: 60px;
	resize: both;
	overflow: auto;
}

.myavt h2 {
	margin-top: 15px;
	margin-left: 20px;
}

.myavt img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 10px;
}

.bot-info {
	display: flex;
}

.bot-info h3 {
	margin-right: 30px;
	margin-left: 20px;
	font-size: 20px;
}

.icon {
	width: 20px;
	height: 20px;
}

.nav i {
	margin-left: 20px;
	font-size: 30px;
}

.nav span {
	font-size: 25px;
}

.contains-left {
    width: 15%;
    height: 100vh; 
    position: fixed;
    top: 0; 
    left: 0; 
    background-color: #333; 
}

.col {
    margin-left: 15%; 
}

.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 15%);
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.2);
}

.footer p {
    margin-bottom: 0;
    
}

.content-column {
	width: 85%;
	margin: 0 auto;
	/* Äá»ƒ cÄƒn giá»¯a ná»™i dung */
}


.hanhdong {
    display: flex;
    align-items: center;
}

/*CSS cho pháº§n dropdown*/
.dropdown{
    width: 150px;
}
.dropdown_select{
	border-radius: 5px;
    width: 150px;
    height: 37px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}
.dropdown_selected{
	margin-left: 30%;
}
.dropdown_list{
    margin-top: 5px;
    position: absolute;
    margin-left: -100%;
    display: none;
}
.dropdown:hover .dropdown_list{
    display: block;
}
.detail{
    width: 450px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    cursor: pointer;
}

.chophep{
	margin-left:20px;
	width: 150px;
	cursor: pointer;
}
.dropdown_leftbar{
	margin-bottom: 30px;
}
.dropdown_menu_leftbar{
	margin-top: 10px;
	width: 150px;
	display:none;
}
/*.dropdown_leftbar:hover .dropdown_menu_leftbar{
	display:block;
}*/
.dropdown_item_leftbar{
	margin-left: -10px;
	border-radius: 4px;
	margin-bottom: 5px;
}
.dropdown_item_leftbar *{
	margin-left: 10px;
	margin-bottom: 5px;
}
.dropdown_item_leftbar:hover {
	background-color: rgb(0, 0, 0);
}


.body {
    background:#eee;
}
.posts-content{
    margin-top:20px;    
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-rect {
    padding-top: 50% !important;
}
.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
    position: relative !important;
    display: block !important;
    padding-top: 100% !important;
    width: 100% !important;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) !important;
}
.card-footer, .card hr {
    border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
}
.default-style .ui-bordered {
    border: 1px solid rgba(24,28,33,0.06);
}   
.chucnang{
	margin-top:1rem;
	margin-bottom:3rem;
}
.container {
  	display: flex;
  	background-color: rgba(200,200,200,0.9);
}

.box {
	margin-left: 20px;
  	flex: 1;
}

#dropdownUser1 {
    font-size: 24px; /* Điều chỉnh kích thước của nút */
}

/*quan ly nguoi dung*/
.quanlynguoidung{
	display: inline-block;
}

.nav-link {
    font-size: 0.85em; /* Adjust the font size */
}

.nav-link i {
    font-size: 1.2em; /* Adjust the icon size */
}